#head {
    background-color: red;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: red;
    margin: -8px;
}
.logo img {
    width: 50px;
    margin-left: -90px;
    margin-bottom: -35px;
}
.icon i{
    color: white;
    font-size: 40px;
    margin-left: -88px;

}
.icon1 i{
    color: white;
    font-size: 40px;
    margin-left: -83px;
    margin-top: 30px;
}
.left-head {
    padding-left: 100px;
    flex-direction: column;
}
.right-head {
    padding-right: 100px;
}
.right-head a {
    color: red;
    text-decoration: none;
}
.btn button {
    background-color: white;
    border-color: #cea135;
    border: #cea135;
}
.btn a {
    font-size: 1.5em;
}
.btn:hover {
    box-shadow: rgba(0, 0, 0, 100px)
}
.name {
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
    margin-left: -30px;
    font-family: sans-serif;
}
.middle-head img {
    margin-bottom: 10px;
}
.img-container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 1px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-container p {
    font-size: 1.5em;
    color: #cea135;
}
.img-container b {
    color: red;
}
.img-container h5 {
    color: rgb(0, 255, 13);
}
.navigation {
    display: flex;
    flex-direction: column;
}
#Videos {
    display: flex;
    justify-content: space-evenly;
}
.video video {
    display: grid;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#Videos a {
    margin-left: 175px;
    font-family: sans-serif;
    color: royalblue;
    text-decoration: none;
    font-size: 1.25em;
}
.tbd {
    margin-left: 50px;
}
.computer {
    margin-left: -5px;
}
.toast {
    margin-left: 5px;
}

