body {
    background:url(background.png) ;
    height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: royalblue;
    margin: -10px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.middle h1 /*Title on the header*/ {
    color: lime;
    text-decoration: none;
    font-family: sans-serif;
    margin-left: 93px;
}
.middle img {
    margin-left: -25px;
}
.middle {
    margin-top: 30px;
}
.logo {
    margin-left: 200px;
    margin-bottom: 20px;
}
.left {
    margin-left: 150px;
}
.right {
    margin-right: 50px;
}
.about{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1em;
    color: gold;
}
.logo{
    margin-left: 10px;
    margin-top: -20px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.link {
    margin-left: 20px;
    margin-right: 20px;
}
.link a {
    color: #cea135;
    text-decoration: none;
}
.button {
    width: 70px;
    margin-right: 200px;
}
.button button {
    background-color: gold;
    border: none;
}
.button a {
    text-decoration: none;
    color: royalblue;
    font-size: 1.25em;
}
#mid-page {
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
}
.discord {
    margin-right: 0px;
    margin-top: 100px;
    margin-bottom: 50px;
}
.parallax {
    /* The image used */
    background-image: url("background.png");
  
    /* Set a specific height */
    height: 2000px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bottom-page {
    background-color: royalblue;
    height: 225px;
    width: 5000px;
    margin-left: -20px;
    margin-top: 50px;
}