.right-head h4 {
    font-family: sans-serif;
    color: white;
    margin-left: -30px;
}
.middle-head {
    margin-left: 50px;
}
#Videos {
    display: flex;
    justify-content: space-evenly;
}
.video video {
    display: grid;
    justify-content: space-evenly;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#Videos a {
    margin-left: 175px;
    font-family: sans-serif;
    color: royalblue;
    text-decoration: none;
    font-size: 1.25em;
}
.img-container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 1px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-container p {
    font-size: 1.5em;
    color: #cea135;
}
.img-container b {
    color: red;
}
.img-container h5 {
    color: rgb(0, 255, 13);
}
.middle-head img {
    margin-bottom: 10px;
}
.computer {
    margin-left: -15px;
}